.App {
  text-align: center;
}

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 3em;
  width: 100%;
  background-color: #222;
  color: white;
}

.Nav ul {
  display: flex;
  height: 100%;
}

.Nav .hidden {
  display: none;
}

.SearchBox form {
  display: flex;
}

.SearchBox input[type="submit"] {
  width: 6em;
}

.Dropdown {
  display: flex;
  flex-direction: column;
}

.Dropdown .toogle {
  align-items: center;
  display: flex;
  height: 100%;
}

.Dropdown:hover .content {
  display: flex;
  width: 7em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222;
}

.Dropdown .content a {
  margin: 0.5em 0;
}

.Dropdown .content {
  position: absolute;
  top: 3em;
}

.Nav a {
  color: white;
  text-decoration: none;
}

.Nav li {
  padding: 0 2em;
  height: 100%;
  display: flex;
  align-items: center;
}

.Nav li:hover {
  background-color: #001;
}

.Nav ~ div {
  padding: 3em 0 0 0;
}

.Main {
  background-color: #555;
  display: flex;
  justify-content: center;
}

.Main div {
  width: 30em;
  padding: 1em;
  color: #eee;
}

.Main .expression,
.Main .word {
  display: flex;
}

.Phrasal {
  background-color: #003;
}

.Word {
  background-color: #031;
}

.BrowseView {
  display: flex;
}

.BrowseView div {
  padding: 0.2em;
}

.BrowseView li {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  padding: 0.2em;
  text-align: left;
}

.BrowseView .example {
  flex: 4;
}

.BrowseView .definition {
  flex: 4;
}

.BrowseView .pl,
.BrowseView .en {
  flex: 1.2;
  padding: 0 0.1em;
}

.BrowseView ul {
  background-color: #333;
  padding: 0.5em;
  border-radius: 0.5em;
}

.BrowseView li:nth-child(even) {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 0.3em;
}

.BrowseView li:hover {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0.3em;
}

.BrowseView li:nth-child(1) {
  font-weight: 500;
  color: #ccf;
  text-align: center;
}

.BrowseView input {
  background-color: #222;
  color: white;
  width: 100%;
}

.BrowseView li span {
  padding: 0 0.5em;
}

.saveBtn {
  cursor: pointer;
  flex: 0.2;
}

.addNewBtn {
  background-color: #222;
  color: #ffc;
  cursor: pointer;
  position: absolute;
  right: 0;
  margin-left: auto;
}

.AddNew {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.AddNew span {
  display: flex;
}
