.App {
  text-align: center;
}

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 3em;
  width: 100%;
  background-color: #222;
  color: white;
}

.Nav .hiddenTree {
  display: none;
}

.Nav a {
  color: white;
  text-decoration: none;
}

.Nav li {
  padding: 0 2em;
  height: 100%;
  display: flex;
  align-items: center;
}

.Nav li:hover {
  background-color: #001;
}

.Nav li.active {
  background-color: #001;
}

.Nav > ul {
  height: 100%;
  display: flex;
}

.Nav ~ div {
  padding: 3em 0 0 0;
}

.Main {
  background-color: #555;
  display: flex;
  justify-content: center;
}

.Main div {
  width: 30em;
  padding: 1em;
  color: #eee;
}

.Main .expression,
.Main .word {
  display: flex;
}

.Phrasal {
  background-color: #003;
}

.Word {
  background-color: #031;
}

.BrowseView {
  display: flex;
}

.BrowseView div {
  padding: 0.2em;
}

.BrowseView li {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  padding: 0.2em;
  text-align: left;
}

.BrowseView .example {
  flex: 4;
}

.BrowseView .explanation {
  flex: 4;
}

.BrowseView .pl,
.BrowseView .en {
  flex: 1;
}

.BrowseView ul {
  background-color: #333;
  padding: 0.5em;
  border-radius: 0.5em;
}

.BrowseView li:nth-child(even) {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 0.3em;
}

.BrowseView li:hover {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0.3em;
}

.BrowseView li:nth-child(1) {
  font-weight: 500;
  color: #ccf;
  text-align: center;
}
